<!DOCTYPE html>
<html ng-app="giphy">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>

<body ng-controller="giphyCtrl">
  	<h1>{{test}}</h1>

  	<form ng-submit="addBiz()">
			<select ng-model="biz.type" ng-options="type for type in types"></select>
			<input type="text" ng-model="biz.name" placeholder="Type the bizname here"/>
		</form>

		<div>
			<h1>Biznasses</h1>
			<ul>
				<li ng-repeat="biz in biznesses">{{biz.name}} {{biz.Name}} -- {{biz.type}} {{biz.Type}}</li>
			</ul>
		</div>

  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  	<script src="js/app.js"></script>
  	<script src="js/controller.js"></script>
  	<script src="js/service.js"></script>

<body>

<h1>Giphy is Life</h1> 

</body>
</html>